
body{
    background: rgb(2,0,36);
    background: linear-gradient(149deg, rgba(2,0,36,1) 0%, rgba(121,9,102,1) 100%, rgba(0,212,255,1) 100%);
    padding: 0;
    margin: 0;
    color: white;
    height: 100vh;
}
#header{
    padding: 20px 20px 5px 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    line-height: 5px;
}
h3{
    padding: 0;
    margin: 0;
    font-size: 30px;
}
span{
    padding-right: 2px;
}
.fa-github{
    color: black;
}
ul{
    margin: 0;
    padding: 0;
}
li{
    list-style-type: none;
    line-height: 20px;
}

small{
    font-size: 12px;
    margin: 0;
    padding: 0;
}
a, a:visited {
    color: rgba(251, 255, 23, 0.848);
}
.meaning-title{
    font-weight: bold;
}
input{
    width: 98%;
    padding-left: 5px;
    /* margin-left: 7.5vw; */
}

input:focus{
    outline: none;
    
}
.autocomplete-items{
    max-height: 90px;
    overflow-y: scroll;
}
#result-body{
    margin: 5vw;
}
.display-result{
    /* background-color: red; */
}
.hidden{
    display: none;
}
#word-audio{
    border: none;
    border-radius: 50%;
    padding: 2px;
    float: right;
    margin-top: 3px ;
    transition: background-color 2s;
}
#word-audio:focus{
   background-color: aqua;
}

#search{
    margin-left: 1px;
    border: none;
    background-color: inherit;
    cursor: pointer;
}
#search:hover{
    color:rgb(134, 134, 145);
}
hr{
    margin: 0;
}

#input-word{
    display: flex;
    justify-content: center;
    padding: 20px;
    width: 80%;
}
#main-body{
    margin: auto;
    margin-top: 20px;
    width: 70vw;
    height: 70vh;
    /* border: 1px solid black; */
    /* background: white; */
    background: rgb(2,0,36);
    background: linear-gradient(149deg, rgba(2,0,36,1) 0%, rgba(121,9,102,1) 100%, rgba(0,212,255,1) 100%);
}

#footer{
    height : 25px;
    text-align: center;
    color: rgb(0, 0, 0);
    background-color: rgb(239, 234, 184);
}